body{
    display: flex;
}

.patients_wrap, .doctors_wrap{
    position: absolute;
    right:40px;
    width: 77%;
}

/* Responsive Home Content */
@media only screen and (max-width: 1300px) {
    .home_content-wrap, .patients_wrap, .doctors_wrap{
        /* margin-left: 281px; */
        width: 74%;
        
        }
}
@media only screen and (max-width: 1100px) {
    .home_content-wrap, .patients_wrap, .doctors_wrap{
        /* margin-left: 281px; */
        width: 65%;
        
        }
}