body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* SIDE BAR PARENT CONTAINER */
.sidebar-container {
    height: 100vh;
    width: fit-content;
    background: #fbf8ef;
    border-right: 0.5px solid #eee3c4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 97.5vh;

    position: fixed;
}

/* SIDEBAR TOP SECTION */
.sidebar-top-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background: #fffefa;
    gap: 20px;
    border-radius: 10px;
    border: 0.5px solid #eee3c4;
    /* border-bottom: 0.5px solid #99DED5; */
}

.sidebar-top-topWrap {
    display: flex;
}

#sidebar-top-left-avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.sidebar-top-top-userWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    font-family: 'Archivo';
}

#sidebar-top-top-user-name {
    font-size: 14px;
    font-weight: 600;
    color: #453608;
}

#sidebar-top-top-user-rank {
    font-size: 14px;
    font-weight: 400;
    color: #958450;
    margin-top: 3px;
}

.sidebar-top-top-btmBtn-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar-top-top-btmBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 20px;
    border: solid 0.5px #0B423B;
    border-radius: 10px;
    background: none;
    font-family: 'Archivo';
    cursor: pointer;
    width: 100%;
    /* margin-bottom: 20px; */
}

#sidebar-top-top-btmBtn-icon {
    fill: #0B423B;
    height: 16px;
}

#sidebar-top-top-btmBtn-txt {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #0B423B;
}

/* MIDDLE SECTION */
.sidebar-mid-container {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 5px;
}

/* ACTIVE PAGE */
.active-sidebar-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
    padding: 15px 25px;
    border-radius: 12px;
    background: #1b2423;
    color: #FFF1C6;
    font-family: 'Archivo';
    cursor: pointer;
    text-decoration: none;
    /* width: 100%; */
}

.active-sidebar-icon {
    fill: #FFF1C6;
    height: 18px;
}

.active-sidebar-text {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

/* Inactive page */
.inactive-sidebar-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
    padding: 15px 25px;
    border-radius: 12px;
    background: none;
    color: #264228;
    fill: #264228;
    font-family: 'Archivo';
    cursor: pointer;
    text-decoration: none;
    /* width: 100%; */
}

.inactive-sidebar-wrap:hover {
    background: #c9e5e2;
}

.inactive-sidebar-icon {
    fill: #264228;
    height: 18px !important;
}

.inactive-sidebar-text {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

/* Logout section */

.sidebar-btm-container {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #eee3c4;
    padding: 20px;
}

#sidebar-btm-logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 15px 25px;
    border-radius: 12px;
    background: none;
    color: #da2825;
    font-family: 'Archivo';
    cursor: pointer;
    border: none;
}

#sidebar-btm-logout-icon {
    fill: #da2825;
    height: 16px;
}

#sidebar-mid-doctor-txt {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* padding: 5px 10px 5px 5px;s */
    padding-right: 36px;
    /* Adjust padding as needed */
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    background-color: #fff;
    /* width: 200px; */
    /* Set a width for the select box */
    background-image: url("../img/assets/arrow-down-s-line.png");
    background-size: 16px 16px;
    background-position: calc(100% - 12px) center !important;
    /* background-position: right 100px center; */
    /* Replace with your arrow image */
    background-repeat: no-repeat;
    background-position: right center;
}