body{
    background: #F5F0E4;
    font-family: Archivo;
}
#edit_receptionist_wrap{
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* MANAGE ACCESS */
.manageAccess_wrap{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

.manageAccess_topWrap{
    display: flex;
    justify-content: space-between;
}

.primary_btn{
    width: fit-content; 
    height: 40px; 
    padding: 0 15px;
    background: #1b2423;
    color: #FFF1C6;
    border: none;
    border-radius: 10px; 
    font-family: Archivo;
    font-size: 16px;
    font-weight: 500 !important;
}

.receptionist_List_wrap{
    background: #fffefa;
    border: 0.5px solid #eee3c4;
    border-radius: 20px;
    margin-top: 40px;
}

.receptionist_wrap{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 40px;
    gap: 40px;
    font-family: Archivo;
    flex-wrap: wrap;
    justify-content: space-between;
}

.receptionist_itmHead{
    background: #f8f7f2;
    border-radius: 15px;
    padding: 30px;
    width: 150px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #1b2423;
}

.receptionist_itm_img{
    width: 150px;
    height: 150px !important;
    border-radius: 150px;
    object-fit: cover;
}

.receptionist_itm_name{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
}

.receptionist_itm_rank{
    font-weight: 600;
    color: #847b62;
}

.rec_itm_dvdr{
    padding: 8px 0;
}

.rec_itm_dvdr_top{
    margin-top: 20px;
}

.secondary_btn_dngr{
    border:0.5px solid #da2825; 
    padding:10px;
    border-radius:8px;
    color:#da2825;
    font-size: 14px;
    font-weight: 500;
    background: none;
    width: 150px;
    margin-top: 20px;
    font-weight: 600;
}

/* NEW RECEPTIONIST */

#edit_receptionist_wrap{
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.new_receptionist_inforWrap{
    background: #fffefa;
    border: 0.5px solid #eee3c4;
    border-radius: 20px;
    margin-top: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.new_receptionist_profile_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new_UploadImg{
margin: 0 auto;
}

#new_receptionist_image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 10px;
}

input{
    padding: 12px;
    border-radius: 8px;
    border: 0.5px solid #d9d4c4;
}

input:-internal-autofill-selected {
background-color: #f8e8b9;
}
select{
    padding: 12px;
    border-radius: 8px;
    border: 0.5px solid #d9d4c4;

    font-family: Archivo !important;
}

select.new_receptionist_rank_id option {
    padding: 10px;
}

.new_receptionist_name_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new_receptionist_phone_wrap{
    display: flex;
    gap: 20px;
}

.new_receptionist_name_dob{
    display: flex;
    flex-direction: column;
}

.new_receptionist_name_dob_gndr{
    display: flex;
    gap: 20px;
}

#new_receptionist_age{
    width: 100%;
}

.new_receptionist_gender{
width: 100%;
}

.new_receptionist_btn{
    width: 100%; 
    height: 40px; 
    padding: 0 20px;
    background: #1b2423;
    color: #FFF1C6;
    border: none;
    border-radius: 10px; 
    font-family: Archivo;
    font-size: 15px;
    font-weight: 500 !important;
    margin-top: 20px;
    cursor: pointer;
}


/* EDIT RECEPTIONIST */
#edit_receptionist_wrap{
    width: 30%;
    display: flex;
    flex-direction: column;
   
}

#edit_receptionist_header{
    font-size: 36px;
    font-weight: 600;
    font-family: Archivo;
    text-align: left;
    margin: 0 !important;
    padding: 0;
}

.edit_receptionist_info{
    background: #fffefa ;
    border-radius: 15px;
    border: 0.5px solid #eee3c4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    width: 100%;
}

#imgEdit{
    cursor: pointer;
    border: solid 0.5px #0B423B;
    color: #0B423B;
    padding: 12px;
    border-radius: 8px;
    width: fit-content;
    font-size: 14px;
    /* margin: 0 auto; */
    margin-bottom: 10px;
}

.edit_receptionist_names{
    display: flex;
    gap: 10px;
}

#edit_receptionist_name, #edit_receptionist_surname,#edit_receptionist_email,#edit_receptionist_phone_number {
    width: 100%;
}


.edit_receptionist_contacts{
    display: flex;
    gap: 10px;
    width: 100%;
}

.edit_show_password{
    display: flex;
    font-size: 12px;
    align-items: center;
}

#edit_receptionist_btn{
    width: 100%; 
    height: 40px; 
    padding: 0 20px;
    background: #1b2423;
    color: #FFF1C6;
    border: none;
    border-radius: 10px; 
    font-family: Archivo;
    font-size: 14px;
    font-weight: 500 !important;
    margin-top: 20px;
    cursor: pointer;
}